* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header{
  top:0;
  left: 0;
  background: #0769e9;
  width: 100%;
  margin:0 auto;
  height: 55px;
  position:fixed;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  z-index: 100;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav ul{
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding:20px 40px;
  float: left;
  font-size: 18px;
  line-height: 20px;
  width: max-content;
}

nav ul li a{
  font: bold;
  padding: 8px 12px;
  border-radius: 5px;
  color: white;
}

nav ul li a:hover, .logueo a:hover{
  background: #034574;
  transition: .5s;
}

.logo_nav{
  height: 35px;
  width: 100px;
  margin:10px;
  vertical-align: middle;
}

.logo{
  color: white;
  font: bold;
  font-size: 25px;

  border-radius: 5px;
}

.img_user{
  width: 30px;
  margin: 0 10px;
  vertical-align: middle;
}

.logueo{
  margin:10px o;
  padding: 13px 30px;
}

.logueo a{
  color: white;
  font: bold;
  font-size: 17px;
  padding: 10px 10px 11px 5px;
  border-radius: 5px;
}


body{
  padding: 70px 20px 0;
  font-family: 'Mooli', sans-serif;
  color: black;

}
.contenedor{
  background: white;
  color: white;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
.contenedor:after{
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  background: linear-gradient(to right, #00b4db, #0083b0);
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: -1;
  border-radius: 5px;
}
.titulo{
  color: white;
  width: 100%;
  height: 200px;
  background: url('https://images.pexels.com/photos/1752757/pexels-photo-1752757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center/cover;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
.texto{
  position: relative;
  color: black;
  padding: 20px;
}
hr{
  width: 97%;
  margin: 20px auto;
}
.comentarios{
  color: black;
  padding: 10px 20px 0;
  position: relative;
}
.comentarios h4{
  margin: 0 0 15px 0;
}
.comentarios img{
  margin: 0 5px 0 10px;
  vertical-align: middle;
}
.comentarios textarea{
  display: block;
  margin: 5px 40px 30px;
  width: 80%;
  height: 50px;
  margin-bottom: 15px;
}
.inter-comentario{
  color: white;
  background: white;
  opacity: 0.1;
  margin:10px;
}